$family-primary: Lato, Helvetica, Arial, sans-serif;
$family-secondary: Helvetica, Arial, sans-serif;
p, .notification, .message {
    font-family: $family-secondary;
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Footer
$footer-background-color: $light;
$footer-padding: 20px 20px 60px;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

//////////////

.main .message {
    margin-top:20px;
    margin-bottom:20px;
}

table.property-list td, table.property-list th {
    padding:5px;
}
table.property-list td:first-child {
    padding-right:20px;
    font-weight:bold;
    text-align:right;
    width:200px;
}

.datepicker .dropdown-content {
    box-shadow:none !important;
}

.entity-box {
    margin:5px;
    padding:5px;
    border:solid 1px $primary;
}

.route-icon {
    margin-top:10px;
    margin-bottom:10px;
    padding-left:32px;
    position:relative;
}
.route-icon .route-icon-short-name {
    padding:6px;
    display:inline-block;
    border:solid 1px #666;
    border-radius:6px;
    white-space:nowrap;
}
.route-icon .route-icon-long-name {
    padding:6px;
    display:inline-block;
    white-space:nowrap;
}
.route-icon .route-icon-icon {
    display:block;
    position:absolute;
    top:6px;
    left:0px;
}

.subtitle {
    font-size:20px;
    clear:both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

// tables

.entity-search {
    margin-bottom:10px;
}


// modals

.modal-close {
  background-color: $info;
}
.modal-close:hover {
  background-color: $info-invert;
  &:before, &:after {
    background-color: $info;
  }
}

