// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #666;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

//////////////


.datepicker .dropdown-content {
    box-shadow:none !important;
}
  

.route-icon {
    display:inline-block;
    padding:4px;
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;
    margin-right:10px;
    border:solid 1px #666;
    border-radius:6px;
}
.route-icon i {
}

.entity-box {
    margin:5px;
    padding:5px;
    border:solid 1px $primary;
}

table {
    width: 100%;
    margin-top: 10px;
}

thead {
    border-bottom: solid 1px $primary;
}

th, td {
    padding-right: 20px;
}

.logo-image {
    background: url('~assets/transitland_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:20px;
    margin-right:20px;
    width: 80px;
    height: 40px;
  }

.entity {
    border-top: solid 1px #ccc;
    margin-top:10px;
    padding-top:10px;
}

td[data-label="ID"] {
    max-width: 40px;
    white-space: nowrap;
    overflow-x: hidden;
}